.welcome, .quizzes {
  padding-bottom: 0px;
}


.welcome div:nth-child(2){
  padding-left: 30px;
}
.quizzes div:nth-child(1){
  padding-left: 10px;
}

.container {
  display: flex !important;
  flex-wrap: nowrap;
  flex-direction: row;
}

.container div{
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: initial;
  overflow: hidden;
}

.welcome .container div img{
  position: relative;
}

.welcome .container div:nth-child(2),
.quizzes .container div:nth-child(1){
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
  flex-grow: 1.5;
}

@media (max-width: 768px) {

}
 
