.option {
  border: 1px solid rgb(223, 223, 223);
  display: flex;
  border-radius: 10px;
  margin-bottom: 5px;
  flex-wrap: 1;
}

.option label {
  padding: 20px;
  margin: 0px;
}

.option input[type="radio"] {
 scale: 1.5;
 margin-left: 30px;
 border: none !important;
 padding: 0px !important;
}

.question button {
  background-color: #212370 !important;
  flex-grow: 1;
}