.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;

  position: sticky;
  color: rgba(255, 255, 255, 0.87);
  top: 0;

  background-color: #111447;
  /* margin: 20px auto; */
  padding: 10px 30px;
  gap: 10px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.header nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

nav a {
  color: rgba(240, 248, 255, 0.8);
  text-decoration: none;
}
