.navbar {
  position: sticky;
  color: rgba(255, 255, 255, 0.87);
  top: 0;
  left: 0;

  background-color: #212370 !important;
  margin: 20px auto;
  padding: 20px 30px;
  /* gap: 10px; */
  border-radius: 10px;
  max-width: 1080px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 16px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  font-size: .8em;
}

.navbar a {
  color: aliceblue;
  text-decoration: none;
}

.navbar nav a.active {
  background-color: #171a57;
  border-radius: 10px;
}

.navbar nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  border-radius: 10px;
}

.navbar h1 {
  font-weight: 400;
} 

.navbar span {
  font-weight: 700;
}

.navbar nav a {
  padding: 10px 20px;
}

@media (max-width: 960px) {
  
  .navbar {
    border-radius: 0px;
    margin-top: 0px;
    padding: 20px 30px 10px;
  }

  .navbar h1 {
    margin: 0px !important;
    margin-bottom: 10px !important;
  }

  section {
    border-radius: 0px;
  }
}
 