/*

PAGES:
home-page, quiz-page, about-page.

SECTIONS:
welcome-section, quizzes-sections, about-section.

*/

.welcome-section, .quizzes {
  padding-bottom: 0px;
}

.welcome-section div:nth-child(2){
  padding-left: 30px;
}
.quizzes div:nth-child(1){
  padding-left: 10px;
}

.container {
  display: flex !important;
  flex-wrap: nowrap;
  flex-direction: row;
}

/* 6981BA */

.container img {
  height: 250px;
}

.quizPage .quizCard p.desc {
  margin-bottom: 8px;
}

.quizPage .quizCard .tags span {
  font-size: .8em;
  margin-top: 10px;
  background-color: #abb3c7;
  color: #fff;
  padding: 0px 5px 3px;
  border-radius: 5px;
  margin-right: 3px;
}

.container div
.welcome-section .container div img{
  max-width: 200px;
}

.welcome-section .container div:nth-child(2),
.quizzes .container div:nth-child(1){
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: initial;
}

.conclusion-page section{
  padding: 20px;
  border: 2px solid #a10d0ddc;
  background-color: rgba(255, 0, 0, 0.02);
}

.conclusion-page > div, .conclusion-page > h2 {
  padding: 5px 0px;
}

.conclusion-page h3 {
  font-size: 1em;
  margin: 5px 0px;
}

.conclusion-page .correct {
  border: 2px solid #0c9b24;
  background-color: rgb(255, 255, 255);
}

.error-section .container div {
  margin: auto;
}

/* ================================== */

@media (max-width: 768px) {

  main > section {
    border-radius: 0px;
  }

  section .container {
    flex-direction: column;
    align-items: center;
  }

  .welcome-section .container {
    flex-direction: column-reverse;
  }

  .quizPage .container {
    gap: 0px
  }

  .quizPage .quizzes .container {
    gap: 10px
  }

  .quizzes .container{
    padding-left: 0px !important;
  }

  .welcome-section .container {
    padding-left: 10px!important;
  }

  .quizCard {
    padding-left: 30px !important;
  }
  
  .quizPage p {
    margin-bottom: 5px;
  }

  .welcome-section p {
    margin-bottom: 5px;
  }

  .welcome-section div {
    padding-bottom: 0px !important;
  }

  .welcome-section div:nth-child(2){
    padding-left: 20px;
    padding: 0px;
  }
  .quizzes div:nth-child(1){
    padding-left: 10px;
    padding-bottom: 0px !important;
  }

  .about-page div {
    padding-left: 10px;
  }
}
 
