.option {
  border: 1px solid rgb(196, 196, 196);
  display: flex;
  border-radius: 10px;
  margin-bottom: 5px;
  flex-wrap: 1;
}

.option:hover {
  background-color: #dbdbdb63;
}

.option label {
  padding: 20px;
  margin: 0px;
  cursor: pointer;
}

.option input[type="radio"] {
 scale: 1.5;
 margin-left: 30px;
 padding: 0px !important;
 outline: none;
}

button {
  background-color: #25288b !important;
  padding: 10px 0px;
  flex-grow: 1;
  border: 2px solid #212370 !important;
}

button:hover {
  background-color: #22257c !important;
}

button.alternative {
  background-color: #e4e4e4 !important;
  color: black;
  border: 2px solid #21247000 !important;
}

.question button:active {
  scale: 95%;
  transition: .3s;
}

.question button.alternative:hover {
  transition: .3s;
  background-color: #dbdbdb !important;
  border: 2px solid #c0c0c0 !important;
}

.quizPage .container {
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1080px;
}